@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


body {
    background: #F8F8F8;
    margin: 0;
    padding: 0;
}

.home {

    font-family: 'Balsamiq Sans', cursive;
    color: #2F2F2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 20px 450px 80px 450px;

    &__header {
        margin-left: 20px;
    }

    &__main {
        margin-left: 20px;
    }


    &__images {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__vectors {
        display: flex;
        gap: 2rem;
    }

    &__vector {
        object-fit: contain;
    }

    &__url {
        display: flex;
        object-fit: cover;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 2px solid #FF7674;
        justify-content: center;
        line-height: 20px;
        text-align: center;
        font-size: 30px;
        outline: none;
    }

    &__imgPost {
        display: flex;
        object-fit: cover;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 2px solid #FF7674;
        justify-content: center;
        line-height: 20px;
        text-align: center;
        font-size: 30px;
        outline: none;
    }


    &__yourStory {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;

    }

    &__stories {
        display: flex;
        gap: 1rem;
        font-size: 12px;
        line-height: 14.4px;
        font-weight: 400;
        margin-top: 10px;
        align-items: center;
    }

    &__allStories {
        display: flex;
        gap: 1rem;
    }

    &__post {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: #FFF;
        border-radius: 10px;
        width: 100%;
        padding: 10px;
        gap: 0.5rem;
    }

    &__postHeader {
        display: flex;
        justify-content: space-between;

        font-size: 14px;
        font-weight: 700;
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__postContainer {
        height: 100%px;
    }

    &__postVideo {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
    }

    &__postImagen {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    &__options {
        display: flex;
        gap: 1rem;
    }

    &__option {
        font-size: 12px;
        line-height: 0;
    }

    &__postOptions {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
    }

    &__footerPost {
        font-size: 12px;
        line-height: 18px;
    }

    &__namePost {
        font-size: 14px;
        font-weight: 700;
    }

    .button-follow {
        background-color: #FF7674;
        font-family: 'Balsamiq Sans', cursive;
        color: #FFF;
        border: none;
        outline: none;
        padding: 3px 12px;
        border-radius: 50px;
        cursor: pointer;
        justify-self: end;

    }

    .button-follow.following {
        background-color: gray;
        cursor: not-allowed;
        color: #FFF;
    }
}

@media (max-width:1200px) {

    .home {
        margin: 30px 40px 120px 0px;
    }
}