@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.home {

    margin: 20px 10px 10px 10px;

    &__images {
        display: flex;
        justify-content: space-between;
    }

    &__vectors {
        display: flex;
        gap: 2rem;
    }

    &__vector {
        object-fit: contain;
    }

    &__input {
        display: flex;
        justify-content: center;
    }

    &__url {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 2px solid #FF7674;
        justify-content: center;
        line-height: 20px;
        text-align: center;
        font-size: 30px;
        outline: none;
    }

    &__yourStory {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    &__stories {
        display: flex;
        gap: 1rem;
        font-family: 'Balsamiq Sans', cursive;
        font-size: 12px;
        line-height: 14.4px;
        font-weight: 400;
        margin-top: 10px;
        align-items: center;
    }

    &__allStories {
        display: flex;
        gap: 1rem;
    }

    &__myStory {
        position: relative;
    }

}

