.footer {
    position: fixed;
    bottom: 0;
    background-image: url('../../assets/footer.png');
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-size: cover;

    &__left {
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-between;
        padding: 20px;
    }

    &__left img {
        cursor: pointer;
    }

    &__center {
        padding: 7px;
        border-radius: 100%;
        background-color: #FF7674;
        align-self: center;
        justify-self: center;
    }

    &__center img {
        cursor: pointer;
    }
    
    &__right {
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-between;
        padding: 20px;
    }

    &__right img {
        cursor: pointer;
    }
    
    &__user {
        display: flex;
        object-fit: cover;
        width: 26px;
        height: 26px;
        border: none;
        border-radius: 50%;
        outline: none;
    }
}

