.footer {
    position: fixed;
    bottom: 0;
    background-image: url('../../assets/footer.png');
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-size: cover;
    align-items: center;

    &__left {
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-between;
        padding: 15px 35px;
    }

    &__left img {
        cursor: pointer;
    }

    &__center {
        padding: 21px;
        border-radius: 100%;
        background-color: #FF7674;
        position: fixed;
        bottom: 8px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
    }

    &__center img {
        cursor: pointer;
    }
    
    &__right {
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-between;
        padding: 15px 35px;
    }

    &__right img {
        cursor: pointer;
    }
    
    &__user {
        display: flex;
        object-fit: cover;
        width: 26px;
        height: 26px;
        border: none;
        border-radius: 50%;
        outline: none;
    }
}



@media (max-width: 420px) {
    .footer {
        background-position: center;
    }
}
